* {
  font-Family: Tahoma, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  all: unset;
}

section#home {
  width: 700px;
  border: 1px solid #3B5998;
  margin: auto;
}

header {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #3B5998;
  color: #fff;
  border-bottom: 1px solid #3B5998;
  font-size: 11px;
}

header #banner-right {
  margin: auto;
}

header #banner-right img {
  padding-top: 0;
}

header #banner-right nav {
  padding-left: 7px;
}

aside {
  width: 173px;
  margin: 2px;
  padding: 2px;
  float: left;
}

aside form {
  border: 1px dashed #3B5998;
  padding: 2px;
}

aside label {
  float: right;
}

aside input {
  width: 100%;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#buttons button {
  margin: auto;
  text-align: center;
  background-color: #538ADC;
  color: #fff;
  border: none;
  margin-bottom: 10px;
}

main {
  width: 517px;
  margin: 2px;
  padding: 18px;
  float: right;
  border: 1px solid #3B5998;
}

main #title {
  display: block;
  width: 100%;
  background-color: #3B5998;
  color: #fff;
  margin-top: -18px;
  margin-left: -18px;
  padding: 2px;
}

main h1 {
  text-align: center;
}

main p {
  text-align: justify;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}
